.contenedor {
    background: #fff;
    width: 350px;
}
.contenedor h1 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
.contenedor input[type="text"],
.contenedor input[type="email"],
.contenedor select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contenedor select {
    background-color: #fff;
}
.contenedor button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}